body {
    font-style: normal;
    background-color: saddlebrown;
    
}

.calculator {
    border: 10px;
    margin: auto;
    padding: 20px;
    width: 50;
}
#display {
    display: grid;
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
   
} 

button {
     gap: 10px;
     margin: 5px;
     width: 50px;
     height: 50px;
     border: 0.3;
     padding: 10px;

}


